/*#container 
{
	margin: auto;
	width: 800px;
	text-align: center;
}*/

#cr-stage 
{
	// border: 1px solid #eee;
	padding: 0;
}

img.raw 
{
	max-width: 256px;
	max-height: 256px;
	margin-top: 12px;
	margin-left: 12px;
	// opacity: 0.6;
}

img.preview
{
	width: 64px;
	height: 64px;
	display: block;
	float: left;
	margin-top: 12px;
}

.page-header 
{
	padding-bottom: 0;

	.lead
	{
		line-height: 40px;
	}
}

.jumbotron 
{
	margin: 40px 0;
	text-align: center;

	h2 
	{
		font-size: 60px;
		line-height: 80px;
		margin-bottom: 40px;
		margin-top: 0;
	}
}

.main-btn 
{
	margin-top: 20px;
	font-size: 30px;
	padding: 20px 30px;
	font-weight: 200;
}

#optionsScreen
{
	.option
	{
		width: 45%;
		margin-top: 28px;

		.btn-group,
		.btn,
		ul
		{
			width: 100%;
		}

		h3 { margin-top: 0;}
	}

	#step3Btn
	{
		margin-top: -20px;
	}
}

#characterName
{
	width: 516px;
}

.add-file-btn 
{
  position: relative;
  overflow: hidden;
  display: block;
  
	input 
	{
		position: absolute;
		top: 0;
		right: 0;
		margin: 0;
		border: solid transparent;
		border-width: 0 0 100px 200px;
		opacity: 0;
		filter: alpha(opacity=0);
		-moz-transform: translate(-300px, 0) scale(4);
		direction: ltr;
		cursor: pointer;
	}
}

.controls
{
	position: relative;
	// margin-top: 20px;
	width: 87px;
	margin: 20px auto;
	height: 59px;

	.up, .down, .left, .right
	{
		width: 20px;
		height: 20px;
		position: absolute;
		top: 29px;
	}

	.up
	{
		left: 29px;
		top: 0;
	}
	.down
	{
		left: 29px;
	}
	.left
	{
		left: 0;
	}
	.right
	{
		left: 58px;
	}
}

#gameScreen
{
	text-align: center;
	position: relative;
	margin-top: -20px;

	h1
	{
		background-color: #eee;
		padding: 10px;
	}

	#playersControls
	{
		margin-top: 10px;

		.pull-left, .pull-right
		{
			background-color: #eee;
			min-width: 200px;
		}
	}

	#timer
	{
		display: none;
		position: absolute;
		left: 0;
		right: 0;
		top: 30px;
		font-size: 500px;
		line-height: 1;
		height: 0;
		opacity: 0.2;
	}

	.main-btn
	{
		margin-top: 60px;
	}
}

.btn
{
	.disabled
	{
		opacity: 0.4;
	}
	.caret 
	{
	    position: absolute;
	    right: 15px;
	    top: 10px;
	}	
}