/*#container 
{
	margin: auto;
	width: 800px;
	text-align: center;
}*/

#cr-stage 
{
	// border: 1px solid #eee;
	padding: 0;
}

img.raw 
{
	max-width: 300px;
	max-height: 300px;
}

img.preview
{
	width: 64px;
	height: 64px;
}

.page-header 
{
	.lead
	{
		line-height: 40px;
	}
}

.jumbotron 
{
	margin: 60px 0;
	text-align: center;

	h2 
	{
		font-size: 60px;
		line-height: 80px;
		margin-bottom: 40px;
		margin-top: 0;
	}
}

.main-btn 
{
	margin-top: 20px;
	font-size: 30px;
	padding: 20px 30px;
	font-weight: 200;
}

#optionsScreen
{
	.option
	{
		width: 45%;
		margin-top: 28px;

		.btn-group,
		.btn,
		ul
		{
			width: 100%;
		}

		h3 { margin-top: 0;}
	}


}

.add-file-btn 
{
  position: relative;
  overflow: hidden;
  
	input 
	{
		position: absolute;
		top: 0;
		right: 0;
		margin: 0;
		border: solid transparent;
		border-width: 0 0 100px 200px;
		opacity: 0;
		filter: alpha(opacity=0);
		-moz-transform: translate(-300px, 0) scale(4);
		direction: ltr;
		cursor: pointer;
	}
}

.controls
{
	position: relative;
	// margin-top: 20px;
	width: 87px;
	margin: 20px auto;

	.up, .down, .left, .right
	{
		width: 20px;
		height: 20px;
		position: absolute;
		top: 29px;
	}

	.up
	{
		left: 29px;
		top: 0;
	}
	.down
	{
		left: 29px;
	}
	.left
	{
		left: 0;
	}
	.right
	{
		left: 58px;
	}
}

#gameScreen
{
	text-align: center;
	position: relative;

	#timer
	{
		position: absolute;
		left: 0;
		right: 0;
		top: 10px;
		font-size: 500px;
		line-height: 1;
		height: 0;
		opacity: 0.2;
	}
}


