#container 
{
    margin: auto;
    width: 800px;
    text-align: center;
    /*font-family: Helvetica, Arial, sans-serif;*/
}

#cr-stage 
{
    border: 1px solid #eee;
}

.left
{
	float: left;
}

.right
{
	float: right;
}

img.raw 
{
	max-width: 300px;
	max-height: 300px;
}

img.preview
{
	width: 64px;
	height: 64px;
}